//controls to toggle view each section
.section-head {
    cursor: pointer;
}

.section-toggle-controls {
    .fa-minus {
        display: none;
    }

    &.expanded {
        .fa-expand {
            display: none;
        }
        .fa-minus {
            display: block;
        }
    }
}