.cms-menu {
    background: $pink;

    @include max-width($screen-md-max) {
        box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
        0 5px 15px 0 rgba(0,0,0,0.08);
        left: -100vw;
        position: absolute;
        transition: left 0.3s ease;
        z-index: 5;
    }

    a {
        padding: 20px;
        transition: all 0.3s ease;
        width: 100%;

        &:hover {
            background: $lightTeal;
            text-decoration: none;
        }

        &.active {
            background: $teal;

            &:hover {
                background: $teal;
            }
        }
    }
}

.cms-mobile-menu-controls {
    margin: 10px 0 0 15px;
    position: absolute;
    z-index: 10;

    .mobile-menu-close {
        display: none;
    }
}

body.mobile-menu-active {
    .cms-menu {
        left: 0;
    }

    .cms-mobile-menu-controls {
        .mobile-menu-close {
            display: block;
        }

        .mobile-menu-open {
            display: none;
        }
    }
}