.admin #introduction  {
    /* SOCIAL */
    .social-link {
        i {
            float: right;
            font-size: 40px;
        }

        .edit-social-btn {
            margin-top: 35px;
        }

        form.delete-social {
            margin-top: 6px;
        }
    }
}