<ul class="nav flex-column cms-menu">
  <li class="nav-item">
    <a class="d-block nav-link{{#if menu-dashboard}} active{{/if}}" href="/admin/dashboard" target="_self">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="d-block nav-link{{#if menu-content}} active{{/if}}" href="/admin/content" target="_self">Content</a>
  </li>
  <li class="nav-item">
    <a class="d-block nav-link{{#if menu-users}} active{{/if}}" href="/admin/users" target="_self">Users</a>
  </li>
  <li class="nav-item">
    <a class="d-block nav-link{{#if menu-settings}} active{{/if}}" href="/admin/settings" target="_self">Settings</a>
  </li>
</ul>