<div class="col-2 col-xl-1 cms-menu">
    <a class="d-block{{#if menu-dashboard}} active{{/if}}" href="/admin/dashboard" target="_self">Dashboard</a>
    <a class="d-block{{#if menu-content}} active{{/if}}" href="/admin/content" target="_self">Content</a>
    <a class="d-block{{#if menu-users}} active{{/if}}" href="/admin/users" target="_self">Users</a>
    <a class="d-block{{#if menu-settings}} active{{/if}}" href="/admin/settings" target="_self">Settings</a>
</div>