{{#each portfolio}}
    <section id="about">
        <div class="container">
            <div class="col-12 col-md-10 offset-md-1">
                <h2>About Me</h2>
                <article>{{{about}}}</article>
            </div>
        </div>
    </section>
{{/each}}