{{#each content}}
    <section id="about">
        <div class="container">
            <div class="col-12 col-md-10 offset-md-1">
                <h2>About Me</h2>
                <article>
                    <p>Full-stack web developer with a background in e-commerce, photography, and music production. Passionate about front-end design and skilled at back-end, database and server-side development. Comfortable working on a team or independently while meeting deadlines. Extensive experience in e-commerce and web design create a strong sense of how web applications can be effective.</p>
                </article>
            </div>
        </div>
    </section>
{{/each}}