    <div class="container">
        <div class="col-12 offset-0 col-md-10 offset-md-1 footer-wrap">
            <footer class="d-flex justify-content-around align-items-center">
                <p>Copyright <span id="copyrightYear"></span></p>
            </footer>
        </div>
    </div>

    <aside id="browser-warning">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <article>
                        <i class="fas fa-times fa-2x"></i>
                        <h2>Update your browser!</h2>
                        <p>This website is best viewed on a modern browser.</p>
                        <a href="https://www.techradar.com/news/the-best-web-browser" target="_blank">Click Here to Learn About Modern Browsers</a>
                    </article>
                </div>
            </div>
        </div>
    </aside>

    <!--minified & concat JS libraries -->
    <script src="assets/libraries.js"></script>
    <!--minified & concat JS file -->
    <script src="assets/scripts.js"></script>
</body>

</html>