{{#each portfolio}}
    <section id="graphs">
        <div class="container">
            <canvas id="canvas-frontend" class="col-12"></canvas>
            <canvas id="canvas-backend" class="col-12"></canvas>
        </div>
    </section>
    <div class="d-none technology-collection">
        {{#each technology}}
            <div class="tech" aria-hidden="true" data-label="{{this.name}}" data-score="{{this.score}}" data-type="{{this.type}}"></div>
        {{/each}}
    </div>
{{/each}}