{{#each content}}
    <section id="graphs">
        <div class="container">
            <canvas id="canvas-frontend" class="col-12"></canvas>
            <canvas id="canvas-backend" class="col-12"></canvas>
        </div>
    </section>
{{/each}}