{{#each portfolio}}
    <div class="row">

        {{> admin/pages/content/components/title}}

        {{> admin/pages/content/components/subtitle}}

        {{> admin/pages/content/components/social}}

    </div>
{{/each}}