{{#each portfolio}}
    <h5>Introduction</h5>
    <form action="/updateportolfiointro" method="POST">
        <textarea name="introduction" class="summernote-editor" id="portfolioIntroEditor">{{portfolio.introduction}}</textarea>
        <input name="_id" type="hidden" value="{{id}}">
        <button type="submit" class="btn btn-outline-success save-wysiwyg">Save</button>
    </form>
    <br />
    <div class="row">
        
        <div class="col-12">
            <h5>Projects</h5>
        </div>

        {{> admin/pages/content/components/projects}}

        {{> admin/pages/content/components/projects-add}}

    </div>
{{/each}}