<div class="row">
    <div class="col-12">
        <h4>Frontend</h4>
    </div>
</div>

<div class="row">
    {{> admin/pages/content/components/technology-list type="Frontend"}}

    {{> admin/pages/content/components/technology-add type="Frontend"}}
</div>

<div class="row">
    <div class="col-12">
        <h4>Backend</h4>
    </div>
</div>

<div class="row">
    {{> admin/pages/content/components/technology-list type="Backend"}}

    {{> admin/pages/content/components/technology-add type="Backend"}}
</div>