{{#each success_msg}}
    <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
        <strong>Update: </strong> {{this}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}

{{#each error_msg}}
    <div class="alert alert-warning alert-dismissible fade show mb-3" role="alert">
        <strong>Error: </strong> {{this}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}