<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
<metacharset="utf-8">
<title>Vit Benton's Portfolio Website: Login</title>
<metaname="description"content="Login Page for Vit Benton's Portfolio Website"></metaname>
<!--VIEWPORT -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{{site_settings.meta_head}}}

<!--GOOGLE FONT -->
<link href="https://fonts.googleapis.com/css?family=Karla|Quicksand|" rel="stylesheet">
<!--FONT AWESOME -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<!--LOCAL CSS -->
<link rel="stylesheet" type="text/css" href="assets/style.css">
<!--FAVICON -->
<link rel="icon" type="image/png" href="assets/images/favicon.png">
</head>

<body class="login">

{{> frontend/notifications}}