.admin .settings {
    #updatesiteinformation {
        margin: 30px 0;
    }

    #meta_head, #meta_body {
        font-size: 12px;
        white-space: pre-line !important;
    }

    .updatemeta {
        margin: 30px 0;
    }

    xmp {
        display: inline;
    }  
}