$primary: #f1e8dc;
$secondary: #dce5f1;

$black: black;
$darkBlue: #a5bcdb;
$darkGreen: #241B4E;
$grey: rgb(233, 236, 239);
$faded-white: rgba(255,255,255, 0.3);
$faded-darkGreen: rgba(36, 27, 78, 0.3);
$white: white;

$msg-success-green: rgba(126,165,131, 0.8);
$msg-error-red: rgba(223,79,97, 0.8);