/* Regular Buttons */
.standardBtn, input[type="button"], input[type="submit"] {
    user-select: none;
    outline: none !important;
}

    input[type="button"], input[type="submit"] {
        appearance: none !important;
        border: 0;
    }

button.standardBtn {
    background: transparent;
    border: $commonBorder;
    color: $darkGreen;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    height: 50px;
    transition: all ease 0.8s;

    &:hover {
        box-shadow: inset 150px 0 0 0 $secondary;
    }

}

    button.widerBtn {
        width: 200px;
        height: 50px;
        transition: all ease 0.8s;

        &:hover {
            box-shadow: inset 200px 0 0 0 $secondary;
        }
}
