<div class="container-fluid settings page">
  <div class="row no-gutters">

    {{> admin/components/menus/main menu-settings=true}}

    <div class="col-10 col-xl-11">
      <div class="row no-gutters">
        {{> admin/components/notifications}}

        {{> admin/components/heading heading='Settings'}}

        <div class="container page-body">

          {{> admin/components/accordian name='information' title='site information' style="primary" content="admin/pages/settings/info"}}

          {{> admin/components/accordian name='meta' title='meta' style="secondary" content="admin/pages/settings/meta"}}

        </div>

      </div>
    </div>
  </div>
</div>