<div class="container-fluid edit-user page">
  <div class="row">

    {{> admin/components/menus/main menu-users=true}}

    <div class="col-12 col-lg-10">
      <div class="row no-gutters">

        {{> admin/components/heading heading='Edit User'}}

        {{> shared/notifications}}

        <div class="container page-body">

          {{> admin/components/accordian name='basic' title='basic information' style="success" content="admin/pages/users/edit/basic"}}

          {{> admin/components/accordian name='password' title='password' style="info" content="admin/pages/users/edit/password"}}

          <hr>

          {{> admin/pages/users/edit/delete }}
          
        </div>

      </div>
    </div>
  </div>
</div>