<div class="container-fluid users page">
  <div class="row">

    {{> admin/components/menus/main menu-users=true}}

    <div class="col-12 col-lg-10">
      <div class="row no-gutters">
        {{> admin/components/notifications}}

        {{> admin/components/heading heading='Users'}}

        <div class="container page-body">
            <div class="row">
              <div class="col-12">
                {{> admin/pages/users/users}}
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>