<div class="container-fluid content page">
  <div class="row">

    {{> admin/components/menus/main menu-content=true}}

    <div class="col-12 col-lg-10">
      <div class="row no-gutters">

        {{> admin/components/heading heading='Content'}}

        {{> admin/components/notifications}}

        <div class="container page-body">

          {{> admin/components/accordian name='navigation' title='navigation' style="primary" content="admin/pages/content/navigation"}}

          {{> admin/components/accordian name='introduction' title='introduction' style="success" content="admin/pages/content/introduction"}}

          {{> admin/components/accordian name='about' title='about' style="info" content="admin/pages/content/about"}}

          {{> admin/components/accordian name='technology' title='technology' style="warning" content="admin/pages/content/technology"}}

          {{> admin/components/accordian name='portfolio' title='portfolio' style="secondary" content="admin/pages/content/portfolio"}}

          {{> admin/components/accordian name='resume' title='resume' style="danger" content="admin/pages/content/resume"}}

        </div>
      </div>
    </div>
  </div>
</div>