<div class="container-fluid settings">
  <div class="row">

    {{> admin/menus/main menu-settings=true}}

    <div class="col-11">
      <div class="row">
        {{> admin/notifications}}

        {{> admin/heading heading='Settings'}}

        <div class="container">
            <div class="row">
              <div class="col-12">
                {{> admin/settings/settings}}
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>