{{> admin/notifications}}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the admin</h1>
  </div>
</div>

<div class="container">
    <div class="alert alert-primary" role="alert">Your Navigation</div>

    {{> admin/navigation}}
</div>

<div class="container">
    <div class="alert alert-secondary" role="alert">Your Headings</div>

    {{> admin/heading}}
</div>

<div class="container">
    <div class="alert alert-info" role="alert">Your About Copy</div>

    {{> admin/about}}
</div>

<div class="container">
    <div class="alert alert-success" role="alert">Your Technologies (In The Chart)</div>

    {{> admin/technology}}
</div>