<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                {{> shared/notifications}}
                <article>
                    <h2>Login</h2>
                    <form class="col-12 mt-4" id="loginForm" action="/login" method="POST">
                        <input placeholder="Username" type="text" name="username" title="Your Username" required />
                        <input placeholder="Password" type="password" name="password" title="Your Password" required />
                        <button type="submit" class="standardBtn">LOGIN</button>
                    </form>
                </article>
            </div>
        </div>
    </div>
</section>