/* CORE */
/**
 * Bootstrap
**/
/**
 * Layout
**/
/**
 * Media Queries
**/
/* FONTS */
h1, h2, h3, h4, h5, p, a {
  font-family: "Quicksand", sans-serif;
  color: #241B4E; }

p, a {
  font-size: 16px;
  line-height: 16px; }

/* ELEMENTS */
/* Regular Buttons */
.button, input[type="button"], input[type="submit"] {
  user-select: none; }

input[type="button"], input[type="submit"] {
  appearance: none !important;
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

/* COMPONENTS */
body {
  background: #B2E7DE; }

#intro {
  margin-top: 50px;
  clear: both; }
  @media only screen and (max-width: 767px) {
    #intro {
      margin-top: 25px; } }
  #intro article {
    border: 2px solid #241B4E;
    margin-top: 50px;
    padding: 10px 60px;
    text-align: center; }
    @media only screen and (max-width: 767px) {
      #intro article {
        padding: 10px 20px; } }

nav {
  margin-top: 10px; }
  nav .desktop-nav-wrap {
    border: 2px solid #241B4E;
    height: 50px;
    background: #e7b2bb; }
    nav .desktop-nav-wrap a {
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      transition: border-bottom 0.3s ease-in-out; }
      nav .desktop-nav-wrap a:hover {
        border-bottom: 2px solid #241B4E; }
  nav #nav-icon {
    width: 26px;
    height: 45px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 3;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer; }
    nav #nav-icon span {
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: #241B4E;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out; }
      nav #nav-icon span:nth-child(1) {
        top: 0px;
        transform-origin: left center; }
      nav #nav-icon span:nth-child(2) {
        top: 9px;
        transform-origin: left center; }
      nav #nav-icon span:nth-child(3) {
        top: 18px;
        transform-origin: left center; }
    nav #nav-icon.open span:nth-child(1) {
      transform: rotate(45deg);
      top: 0px;
      left: 8px; }
    nav #nav-icon.open span:nth-child(2) {
      width: 0%;
      opacity: 0; }
    nav #nav-icon.open span:nth-child(3) {
      transform: rotate(-45deg);
      top: 18px;
      left: 8px; }
  nav .mobile-nav-menu {
    background: #e7b2bb;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%; }
    nav .mobile-nav-menu a {
      display: block;
      font-size: 28px;
      font-weight: bold;
      margin-top: 100px;
      margin-right: 200px;
      opacity: 0;
      text-transform: uppercase; }
      nav .mobile-nav-menu a:first-of-type {
        margin-top: 0; }

/* BROWSERS */
/**
 * Desktop
**/
/**
     * Chrome (Desktop)
    **/
.ua-desktop.ua-chrome input[type="email"]:-webkit-autofill, .ua-desktop.ua-chrome input[type="password"]:-webkit-autofill, .ua-desktop.ua-chrome input[type="tel"]:-webkit-autofill, .ua-desktop.ua-chrome input[type="text"]:-webkit-autofill, .ua-desktop.ua-chrome input[type="url"]:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

/**
     * Firefox (Desktop)
    **/
.ua-desktop.ua-firefox select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 black; }

/**
 * Mobile
**/
/**
 * Android
**/
/**
     * Chrome (Android)
    **/
/**
     * Firefox (Android)
    **/
.ua-android.ua-firefox select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 black; }

/**
 * iOS
**/
/**
     * Chrome (iOS)
    **/
/**
     * Firefox (iOS)
    **/
/**
     * Safari (iOS)
    **/
/**
 * macOS
**/
/**
     * Chrome (macOS)
    **/
/**
     * Firefox (macOS)
    **/
/**
     * Safari (macOS)
    **/
/**
 * Windows
**/
/**
     * Chrome (Windows)
    **/
/**
     * Firefox (Windows)
    **/
/**
     * Internet Explorer (Windows)
    **/
.ua-windows_nt.ua-ie select::-ms-expand {
  display: none; }

/**
     * Microsoft Edge (Windows)
    **/

/*# sourceMappingURL=style.css.map */
