.admin {
    background: $white;
    /* NAVIGATION */
    .menu-item {
        margin-bottom: 16px
    }

    .update-menuitem-form{
        margin-bottom: 8px
    }

    /* ABOUT */
    .fr-box {
        margin-bottom: 15px;
    }

    .fr-wrapper {
        min-height: 200px;
    }
}