{{#each portfolio}}
    <div class="col-12 col-lg-4 technology add-technology">
        <div class="card card-body">
            <form action="/addtechnology" method="POST">
                <div class="form-group">
                    <label for="title">Add {{../type}} Technology</label>
                    <small id="name-help" class="form-text text-muted">Name for this technology.</small>
                    <input name="name" class="form-control" type="text" aria-describedby="name-help" placeholder="Enter new name for this tech ..." required>
                    <small id="score-help" class="form-text text-muted">Score for this technology.</small>
                    <input name="score" class="form-control" type="text" aria-describedby="score-help" placeholder="Enter new score for this tech..." required>
                    <small id="type-help" class="form-text text-muted">Type for this technology.</small>
                </div>
                <input name="_id" type="hidden" value="{{_id}}">
                <input name="type" type="hidden" value="{{../type}}">
                <button type="submit" class="btn btn-success btn-block">Add</button>
            </form>
            <div class="add-item-overlay active d-flex align-items-center justify-content-center">
                <div>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <h5>Add</h5>
                </div>
            </div>
        </div>
    </div>
{{/each}}