<form action="/logout" method="POST" id="logout">
    <input name="_id" type="hidden" value="{{user.id}}">
    <button type="submit" class="btn btn-link">Logout</button>
</form>

<a href="/admin/users/edit/" target="_self" class="edit">Edit</a>