<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-6 offset-md-1">
                <h2>Contact</h2>
                <article>
                    <form class="col-12" id="contactForm" action="/contact" method="POST">
                        <input placeholder="Name*" type="text" name="name" id="name" title="Your Name" required />
                        <input placeholder="Email*" type="email" name="email" id="email" title="Your Email Address" required />
                        <textarea placeholder="Message*" type="text"  cols="40" rows="5" id="message" name="message" title="Your Message" required></textarea>
                        <button type="submit" id="sendButton" class="standardBtn">SEND</button>
                    </form>
                </article>
            </div>
            <div class="col-12 col-md-10 col-lg-4 offset-md-1">
                <a href="nav" class="col-6 col-sm-5 col-md-4 col-lg-8 col-xl-7 totop-wrap">
                    <i class="fas fa-angle-up fa-3x"></i>
                    <h2>Back to Top</h2>
                </a>
            </div>
        </div>
    </div>
</section>