{{#each portfolio}}
    <section id="resume">
        <div class="container">
            <div class="col-12 col-md-10 offset-md-1">
                <h2>Resume</h2>
                <div class="download"><a href="public/assets/resume/VitBentonResume.pdf" download><p>Download Full Resume</p><i class="fas fa-download"></i></a></div>
                <article>{{{resume}}}</article>
            </div>
        </div>
    </section>
{{/each}}