.cms-menu {
    background: $pink;
    height: 100vh;

    a {
        padding: 15px 0;
        width: 100%;
    }
}

.dashboard {
    .cms-menu {
        a.dashboard {
            background: $teal;
        }
    }
} 

.content {
    .cms-menu {
        a.contact {
            background: $teal;
        }
    }
} 

.meta {
    .cms-menu {
        a.meta {
            background: $teal;
        }
    }
} 

.users {
    .cms-menu {
        a.users {
            background: $teal;
        }
    }
} 