.alert {
    width: 100%;
    position: relative;
    padding: .75rem 1.25rem 0;
    font-family: $Karla;
    color: $darkGreen;
    font-size: 17px;
    line-height: 25px;
    
    &.alert-success {

    }

    &.alert-warning {

    }
}