<div class="row">
  <h5>Current Users</h4>
  <table class="table table-striped table-responsive-sm" id="users">
    <tr>
      <th>Username</th>
      <th>Email</th> 
      <th>Role</th>
      <th>Actions</th>
    </tr>
    {{#each users}}
      <tr>
        <td>{{this.username}}</td>
        <td>{{this.email}}</td>
        <td>{{#if this.admin}}Admin{{else}}User{{/if}}</td>
        <td>
          <a href="users/edit/{{this.id}}" class="btn btn-outline-info">Edit</a>
        </td>
      </tr>
    {{/each}}
  </table>
</div>

<hr>

<div class="row">
  <h5>Add User</h4>
  <form action="/adduser" method="POST" id="adduser">
    <div class="form-row">
      <div class="col-12 col-lg-3">
        <small id="usernameHelp" class="form-text text-muted">New user's username.</small>
        <input name="username" type="text" aria-describedby="usernameHelp" class="form-control" placeholder="Username">
      </div>
      <div class="col-12 col-lg-3">
        <small id="emailHelp" class="form-text text-muted">New user's email.</small>
        <input name="email" type="email" aria-describedby="emailHelp" class="form-control" placeholder="Email">
      </div>
      <div class="col-12 col-lg-3">
        <small id="passwordHelp" class="form-text text-muted">New user's password.</small>
        <input name="password" type="password" aria-describedby="passwordHelp" class="form-control" placeholder="Password">
      </div>
      <div class="col-12 col-lg-3">
        <small id="passwordCheckHelp" class="form-text text-muted">Re-type password.</small>
        <input name="passwordCheck" type="password" aria-describedby="passwordCheckHelp" class="form-control" placeholder="Retype Password ...">
      </div>
      <div class="col-12 col-lg-3 mt-2 d-flex align-items-center">
        <div class="custom-control custom-switch">
          <input name="admin" type="checkbox" class="custom-control-input" id="adminSwitch">
          <label class="custom-control-label" for="adminSwitch">Administrator</label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-info">Add User</button>
  </form>
</div>