#contact {
    .row {
        margin: 0;
    }

    article {
        padding: 20px 0;

        @include max-width($screen-md-max) {
            margin-bottom: 80px;
        }

        @include max-width($screen-sm-max) {
            padding: 20px 0;
            text-align: justify;
        }
    }

    form {
        margin: 0 auto;

        textarea {
            padding-top: 10px;
        }

        input, textarea {
            border: $commonBorder;
            background: transparent;
            color: $darkGreen;
            display: block;
            font-size: 16px;
            margin: 10px auto 0;
            padding-left: 10px;
            width: 100%;
            min-height: 40px;

            &:first-child {
                margin-top: 0;
            }

            &:focus {
                outline: none !important;
                box-shadow: 0 0 6px $white;
            }

            @include max-width($screen-sm-max) {
                margin-top: 15px;
            }
        }

        #message {
            padding-bottom: 70px;
            resize: vertical;
            overflow: auto;
        }

        button {
            display: block;
            margin: 20px auto 0;
        }
    }

    ::placeholder{
        color: $faded-darkGreen;
    }

    a.totop-wrap {
        bottom: 10px;
        left: 0;
        top: 60%;
        right: 0;
        margin: 0 auto;
        position: absolute;
        text-align: center;
        text-decoration: none;
        transform: translate(-50%,-50%);

        @include max-width($screen-md-max) {
            position: static;
        }

        h2 {
            transition: .3s ease-in-out;
        }

        i {
          animation: MoveUpDown 2s ease-in-out infinite;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          margin-bottom:65px;
        }

        @keyframes MoveUpDown {
          0%, 100% {
            bottom: 0;
          }
          50% {
            bottom: 20px;
          }
        }

        &:hover {
            cursor: pointer;

            h2, i {
                color: $darkBlue;
            }
        }
    }
}
