#intro {
    margin-top: 50px;
    clear: both;

    @include max-width($screen-sm-max){
        margin-top: 25px;
    }

    article {
        border: 2px solid $darkGreen;
        margin-top: 50px;
        padding: 10px 60px;
        text-align: center;

        @include max-width($screen-sm-max){
            padding: 10px 20px;
        }
    }
}
