nav {
    margin-top: 10px;

    .desktop-nav-wrap {
        border: $commonBorder;
        height: 50px;
        background: $salmon;

        a {
            border-bottom: 2px solid transparent;
            cursor: pointer;
            transition: border-bottom 0.3s ease-in-out;
            text-decoration: none;
            text-transform: uppercase;

            &:hover{
                border-bottom: 2px solid $darkGreen;
            }
        }
    }

    #nav-icon {
      width: 33px;
      height: 33px;
      position: fixed;
      top: 25px;
      right: 25px;
      z-index: 3;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;

        span {
            display: block;
            position: absolute;
            height: 6px;
            width: 100%;
            background: $darkGreen;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;

            &:nth-child(1) {
              top: 0px;
              transform-origin: left center;
            }

            &:nth-child(2) {
              top: 10px;
              transform-origin: left center;
            }

            &:nth-child(3) {
              top: 20px;
              transform-origin: left center;
            }
        }

        &.open {
            span {
                &:nth-child(1) {
                  transform: rotate(45deg);
                  top: 0;
                  left: 7px;
                }

                &:nth-child(2) {
                  width: 0%;
                  opacity: 0;
                }

                &:nth-child(3) {
                  transform: rotate(-45deg);
                  top: 23px;
                  left: 8px;
                }
            }
        }
    }

    .mobile-nav-menu {
        background: $salmon;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        height: 100%;
        width: 100%;

        a {
            cursor: pointer;
            display: block;
            font-size: 28px;
            font-weight: bold;
            margin-top: 100px;
            margin-right: 200px;
            opacity: 0;
            visibility: hidden;
            text-transform: uppercase;
            text-decoration: none;

            &:first-of-type {
                margin-top: 0;
            }
        }
    }
}
