{{#each portfolio}}
    <form action="/updatesitename" method="POST" id="updatesitename">
        <div class="form-group">
            <label for="title">Edit Site Name</label>
            <small id="siteNameHelp" class="form-text text-muted">The name of your website.</small>
            <input name="site_name" id="site_name" class="form-control" type="text" aria-describedby="siteNameHelp" placeholder="Enter new site name ..." value="{{site_name}}">
        </div>
        <input name="_id" type="hidden" value="{{id}}">
        <button type="submit" class="btn btn-outline-info">Update</button>
    </form>
{{/each}}