<option selected>Open this select menu</option>
<option value="fa-facebook">Facebook</option>
<option value="fa-github">GitHub</option>
<option value="fa-instagram">Instagram</option>
<option value="fa-linkedin fa-linkedin-square">LinkedIn</option>
<option value="fa-stack-overflow">Stackoverflow</option>
<option value="fa-twitter">Twitter</option>