<div class="row">
    <div class="col-12 col-lg-8 col-xl-6">
        <form action="/edituserpassword" method="POST" id="edituser">
            <div class="form-group">
                <small id="passwordHelp" class="form-text text-muted">New password.</small>
                <input name="password" type="password" aria-describedby="passwordHelp" class="form-control" placeholder="Password">
                <small id="passwordCheckHelp" class="form-text text-muted">Re-type new password.</small>
                <input name="passwordCheck" type="password" aria-describedby="passwordCheckHelp" class="form-control" placeholder="Retype Password ...">
            </div>
            <input name="_id" type="hidden" value="{{user.id}}">
            <button type="submit" class="btn btn-outline-info">Update</button>
        </form>
    </div>
</div>